@import '../../setting';

$column-header-height: 36px;
$column-footer-height: 36px;

.column {
  width: 300px;
  height: fit-content;
  flex: 0 0 auto;
  background-color: rgb(230, 229, 229);
  color: black;
  border-radius: 10px;
  padding: 0.5rem 0.5rem;
  margin: 0 0.5rem;

  .column-header {
    font-weight: bold;
    padding: 0.2rem;
    height: $column-header-height;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: rgb(230, 229, 229);
    cursor: pointer;

    .title {
    }

    .option {
      cursor: pointer;
    }
  }

  .column-body {
    max-height: 60vh;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0;
    }

    .card-ghost {
      transition: transform 0.18s ease;
      transform: rotateZ(5deg);
      font-weight: bold;
      background-color: rgb(145, 145, 145);
    }

    .card-ghost-drop {
      transition: transform 0.18s ease-in-out;
      transform: rotateZ(0deg);
      font-weight: bold;
      background-color: rgb(145, 145, 145);
    }

    .drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px;
    }
  }

  .column-footer {
    height: $column-footer-height;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.5rem;

    &:hover {
      font-weight: bold;
      background-color: #ccc;
    }

    span {
      margin-left: 0.5rem;
    }
  }
}
